@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.ttf') format('truetype');
}


*{

	margin:0;
	padding:0;

	--webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing:border-box;
	
	box-sizing: border-box;

	font-family: 'OpenSans';

}


/* HEADER */

header{

	background: url("../img/fondo1.jpg");

	background-position: center;
	background-size: cover;
	background-attachment: fixed;

	height: 600px;
	
	text-align: center;
	
}

.contenedor-menu{

	width: 90%;
	max-width: 1000px;
	margin: auto;
	
}

.menu{
	
	text-align: right;
	padding-top: 20px;
}

.menu a {
	margin-left:20px;
	margin-right: 20px;
	color: black;
	padding-bottom: 9px; /*padding bottom para el border del hover*/
	text-decoration: none;
	font-size: 16px;
}

.menu a:hover {
	border-bottom:2px solid black;
}


.contenedor-texto {
	margin-top:190px;
}


.texto {

	border:4px solid #7ecaf6;
	background: rgba(86,113,130,0.5);
	display: inline-block;
	text-align: center;
	color:white;
	padding: 20px 60px; /*20 px arriba y abajo y 60px a los lados */

}

.texto .nombre {
	
	font-size: 45px;
	line-height: 50px;
	width: 100%;
	font-weight: 300;


}

.texto .profesion {

	font-size: 25px;
	line-height: 25px;
	font-family: Arial;
	margin-top: 10px;
	font-weight: 300;

}

/* ACERCA DE */

.acerca-de{

	background: white;
	padding: 20px;
	height: auto;
	text-align: center;
	
}

.acercaTitulo{

	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: 300;
	font-size: 35px;
	color: #111111;
}

.acercaTexto{
	
	margin-top: 20px;
	margin-bottom: 20px;
}


.foto{
	width: 80px;
	border-radius: 100px;
}

/* PORTFOLIO */

.portfolio{

	height: auto;
	background:#f2f2f2;
	padding:20px;
}

.portfolioTitulo{

	text-align: center;
	margin-top: 15px;
	margin-bottom: 20px;
	font-weight: 300;
	font-size: 35px;
	color: #111111;
	
}

.trabajo{
	width: 30%;
	margin-bottom: 10px;
	margin-right:3px;
}

.thumb{

	width: 100%;	
}

.thumb img {
	width: 100%;
}


.contenedorPortfolio2{

	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	
}

/* CURRICULUM VITAE */

.cv{

	height: 150px;
	background: white;
	text-align: center;
}


.tituloCV{

	margin-top: 40px;
	margin-bottom: 20px;
	font-weight: 300;
	font-size: 35px;
	color: #111111;
}

.descargar{

	background-color: #ff3131;
	color:white;
	text-decoration:none;
	text-align: center;
	border-radius: 50px;
	padding: 10px 80px;
	cursor:pointer;

}

.descargar:hover{
	background: white;
	border: solid 2px #ff3131;
	color:#ff3131;
}

/* FORMULARIO */

.formulario{
	
	height: 450px;
	padding: 30px;

	background-image: url("../img/formulario.jpg");

	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	text-align: center;
}

.tituloFormulario{

	color: white;
	margin-top: 30px;
	margin-bottom: 40px;
	font-weight: 300;
	font-size: 35px;

}

.formulario .nombre{

	width: 40%;
	background: rgba(255,255,255,0.3);
	margin-bottom: 10px;
	border: 2px solid white;
	height: 40px;
	font-size: 13px;
	padding: 10px;
}

.correo{

	width: 40%;
	background: rgba(255,255,255,0.3);
	margin-bottom: 10px;
	border: 2px solid white;
	height: 40px;
	font-size: 13px;
	padding: 10px;
}

.mensaje{

	width: 80%;
	background: rgba(255,255,255,0.3);
	margin-bottom: 10px;
	border: 2px solid white;
	color: white;
	height: 150px;
	font-size: 13px;
	padding: 10px;

}

.botonEnviar{

	background-color: #2986cd;
	color:white;
	text-align: center;
	border: solid 2px white;
	border-radius: 50px;
	padding: 10px 80px;
	margin-bottom: 20px;
	width: 20%;
	cursor:pointer;

}

.botonEnviar:hover{
	background: white;
	border: solid 2px #2986cd;
	color:#31A6FF;
}

::placeholder{
	color: white;
}


/* REDES SOCIALES */

footer{

	background: white;
	height: auto;
	text-align: center;
}

.contenedorRedes{
	

	margin-top: 40px;

}

.contenedorRedes a {
	
	padding: 15px 0; /*15 px arriba y abajo 0 a los lados*/
	font-size: 30px;
	margin: 0 40px;

}

.colorFacebook{	color: #4862a3;}
.colorTwitter{color:#2daae2;}
.colorYoutube{color:#ff0000;}
.colorInstagram{color:#d93140;}

.colorFacebook:hover{color: #314370;}
.colorTwitter:hover{color:#207296;}
.colorYoutube:hover{color:#930000;}
.colorInstagram:hover{color:#721c24;}

.autorFooter{
	
	margin-top: 15px;
	margin-bottom: 20px;
}

.spanAutor{
	color: #1784bc;
}
